
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
html{
	width: 100%;
	height: 100%;
}

.body{
	padding-top: 75px;
    padding-bottom: 67px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
}

.side{
	width: 200px;
	height: 500px;
	padding: 20px,40px,40px,30px;
	display: block;
	border-style:none;
	border-left-style:outset;
	float: right;
}

.content{
	overflow-y: auto;
    top: -75px;
    position: relative;
    height: 100%;
    width: 100%;
}

.content-wrap{

}
/*
.content{
	min-height: 1000px;
	width: 980px;
	margin: 0 auto;
	background-color: #fff;
	display: block;
	word-break: break-word;
	padding: 20px;
}*/
.main{
	
}
.upon{
	margin: 0 auto;
	box-sizing: border-box;
	width: 950px;
}

.bott{
	box-sizing: border-box;
	width: 900px;
	margin: auto;
}
.showalbum {
	display: inline-block;
    width: 206px;
    height: 205px;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}
.msk{
	position: absolute;
	top: 0;
	left: 50px;
}

.background {
	display: inline-block;
    margin-left: 50px;
    font-size: 24px;
    margin-top: 20px;
}



.j-img{
	display: block;
	width: 67%;
	height: 67%;
	margin-left: 93px;
	margin-top: 27px;
	position: absolute;
}

.song{
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
}


.fix_texture{
	display: inline-block;
	margin-block-start: 5px;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-size: 12px;
	color: #333333;
}

.lrc{
	width: 300px;
	/*height: 350px;*/
	font-size: 12px;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 20px;
}

.block{
	display: inline-block; width:700px; height: 50px;
}


.commentitle{
	height: 33px;
	border-bottom: 2px solid #c20c0c;
}

.comholder{
	display: flex;
}
.mcom{
	margin-top: 20px;
}



.itm{
	display: flex;
	padding: 15px 0;
	border-top: 1px dotted #ccc;
}

.touxiang{
	display: inline-block;
	float: left;
	width: 50px;
	height: 50px;
}
.u-hd4{
    position: relative;
    top: 1px;
    height: 20px;
    border-bottom: 1px solid #cfcfcf;
}
.cntwrap{
	margin-left: 60px;
}

.comid{
	word-break: break-word;
	padding-left: 10px;
}
	
.u-hd3{
	position: relative;
	*zoom: 1;
	height: 23px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	color: #333;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.f-fl {
    float: left;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
	padding: 0;
	margin: 0;
}
.u-cover {
    position: relative;
    display: block;
}
.u-cover-3 {
    width: 50px;
    height: 50px;
}
.m-rctlist .cver, .n-rctlist .cver  {
    float: left;
    width: 50px;
    height: 50px;
}
	
.suggestion{
	padding: 10px;
	margin-left:30px;
	border-style:none;
	border-bottom-style:outset;
}

.songbar1{
	
	background-color: #f7f7f7;
	width: 170px;
	margin-left:30px;
	margin-top:5px;
	border-style:none;
	font-size: 12px;
	color: #333;
	text-align: -webkit-match-parent;
	padding: 0;
	height: 37px;
	line-height: 37px;
}

.songbar2{
	background-color: #e2e2e2;
	width: 170px;
	margin-left:30px;
	margin-top:5px;
	border-style:none;
	font-size: 12px;
	color: #333;
	display: list-item;
	text-align: -webkit-match-parent;
	padding: 0;
	height: 37px;
	line-height: 37px;
}

.lable1{
	color: #c10d0c;
	float: left;
	position: relative;
	width: 35px;
	height: 32px;
	text-align: center;
	font-size: 18px;
}
.lable2{
	color: #1f1f1f;
	float: left;
	position: relative;
	width: 35px;
	height: 32px;
	text-align: center;
	font-size: 16px;
}

.songlink{
	float: left;
	height: 32px;
	vertical-align: middle;
	color: #000;
	cursor: pointer;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
	
.btn{
	float: right;
	height: 30;
	width: 50;
	margin-right: 50;
	background-color: #f1f1f1;
}
.xtx{
	height: 30;
	width: 30;
}

.lyric-item{
	line-height: 23px;
}
.f-hide{
	display: none;
}
.u-icn{
	background: url(../image/icon.png) no-repeat;
	width: 11px;
    height: 8px;
    display: inline-block;
    background-position: -65px -520px;
}

.flag_ctrl{
	font-size: 12px;
    color: #0c73c2;
    text-decoration: none;
    line-height: 23px;
    cursor: pointer;
}

.mn-icn{
	width: 54px;
    height: 24px;
    display: inline-block;
    background: url(../image/icon.png) no-repeat;
    /* ×¨¼­£º ackground-position: 0 -186px;*/
    background-position: 0 -186px;
    position: relative;
    top: 4px;
    padding-right: 10px;
}

.singer{
	font-size: 16px;
}

.crl{
	padding-top: 5px;
}

.com-wrap{
	padding-left: 20px;
}

.com-btn{
	background: url(../image/button.png) no-repeat;
	width: 46px;
    height: 25px;
    background-position: -84px -64px;
    color: #fff;
    text-align: center;
    line-height: 25px;
    float: right;
    cursor: pointer;
}

.cbtn-wrap{
	padding-top: 10px;
    padding-right: 28px;
}

.u-name{
	color: #0c73c2;
}

.dis-music{
	float: left;
}

.dis-opr{
	float: right;
    padding-top: 14px;
    padding-right: 10px;
}

.dis-play{
	background: url(/MusicPlayer/image/icon2.png) no-repeat;
    margin-right: 16px;
    background-position: -69px -455px;
    float: left;
    width: 10px;
    height: 11px;
    opacity: 0.9;
}

.dis-add{
	background: url(/MusicPlayer/image/icon2.png) no-repeat;
	background-position: -87px -454px;
	float: left;
    width: 10px;
    height: 11px;
    opacity: 0.9;
}

.t_operator{
	height: 31px;
}

.list-play-bg{
	background: url(../image/button2.png) no-repeat 0 -387px;
	color: white;
	width: 75px;
	height: 30px;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
}

.list-play-icon{
	background: url(../image/button2.png) no-repeat 0 -1622px;
	float: left;
    width: 20px;
    height: 18px;
    margin: 6px 2px 2px 6px;
}


.icon-font{
	display: inline-block;
    padding-top: 5px;
    padding-left: 3px;
}

#one-play{
	float: left;
}

#one-save{
	color: #333;
    text-decoration: none;
    margin-right: 6px;
    font-family: simsun,\5b8b\4f53;
    float: left;
    height: 31px;
    line-height: 30px;
    min-width: 23px;
    cursor: pointer;
    padding: 0 5px 0 0;
    white-space: nowrap;
    width: 75px;
    height: 31px;
    padding-left: 10px;
    
}

.save-icon{
    float: left;
    height: 31px;
    cursor: pointer;
    padding: 0 7px 0 36px;
    background: url(../image/button2.png) no-repeat 0 -977px;
    padding-right: 2px;
    padding-left: 28px;
    line-height: 30px;
    min-width: 23px;
    width: 35px;
    border-radius: 5px;
}