.head{
	width: 100%;
	height:75px;
	background: #242424;
	top: -75px;
	position: relative;
}
.hwrap{
	/* 宽度自适应即可，无需设置*/
	height:70px;
	margin:0 170px;
}
.logo{
	height: 100%;
	width: 176px;
	float:left;
	background:url("../image/logo.png") no-repeat;
	background-size: 100%;
}
.menu{
	height: 100%;
	width: 654px;
	float:left;
}
.search{
	height:100%;
	width: 200px;
	float:left;
}
.userpic{
	height:100%;
	width: 70px;
	float:left;
	line-height: 70px;
	text-align: center;
}
/* ul有默认外边距16px，左内边距40px。需清空默认边距*/
.menu ul{
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}
/* 
 * li标签默认样式display:list-item，即作为列表显示
 * 让其作为块元素向左浮动显示 
 */
.nav{
	width: 90px;
	height:100%;
	display: block;
	float: left;
	/* li标签中的元素水平居中: 设置文本左右对齐方式*/
	text-align: center;
	/* li标签中的元素垂直居中: 设置行高 */
	line-height: 70px;
}
a{
	color: white; 
	font-size: 14px;
}
.swrap{
	height: 32px;
	width: 158px;
	/* margin:auto 只会自动将左右部分设为外边距，上下不会*/
	margin: auto;
	background: white;
	border-radius:32px;
	/* 让div在div中垂直居中: 给子div设一个上外边距 */
	margin-top: 19px;
}
.search-pic{
	/* 必须指定图片的宽和高 */
	width: 26px;
	height:26px;
	/* 使图片在层中居中 */
	float: left;
    position: relative;
    left: 10px;
    top: 1px;
	background:url(../image/search.png) no-repeat;
}
.search-input{
	width: 100px;
	/* 使搜索框在层中居中*/
	position: relative;
	top: 6px;
    left: 10px;
	/* 给input框写入提示信息:placeholder */
	/* 去掉input框自带的边框 */
	border: 0px;
	/* 去掉input框点击后出现的轮廓线 */
	outline:none;
}
.profile{
	/* 设置宽、高、圆角*/
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #EAB7B7;
	/* 在层中水平居中 */
	margin: auto;
	margin-top: 10px;
}
/* 几种字体颜色 */
.fcolor{
	color: black;
}
/* 默认不显示，鼠标放置头像上，出现下拉列表 */
.u-list{
	display: none;
	z-index: 999;
    position: absolute;
    float: right;
    border-radius: 4px;
}
/* 鼠标悬浮在profile用户头像上，则展示下拉列表
 * userpic和u-list是父子级别关系
 */
.userpic:hover .u-list{
	display: block;
}
.arr{
	width:14px;
	height:8px;
	background: url("../image/toplist.png") no-repeat -20px 0;
	margin: auto;
}
.u-ctrl{
	width: 158px;
	background: #2b2b2b;
	position: relative;
	left: -40px;
	/* 设置下拉列表的阴影及圆角 */
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.50);
	border-radius: 4px;
}
.u-item{
	width:100%;
	height: 34px;
	/* li的默认样式是列表显示，需改为块状元素显示 */
	display: block;
	text-align: left;
	background: #2b2b2b;
}
.login{
	font-size: 12px;
}
.set{
	background: url("../image/toplist.png") no-repeat 0 -140px;
}
.logout{
	background: url("../image/toplist.png") no-repeat 0 -200px;
}
.pic{
	width: 18px;
	height: 18px;
	position: relative;
	left: 20px;
	top: 8px;
	float: left;
}
.word-item{
	float: left;
	height: 34px;
	line-height: 34px;
	width: 80px;
	margin-left: 26px;	
}
.u-font{
	font-size: 12px;
	color: #ccc;
}

/* 下划线 */
.hline{
	background-color: #C20C0C;
	height: 5px;
}