@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}
#container{
    width: 100%;
    height: 100%;
}
.cleft-iframe{
	border: 0;
    width: 737px;
    height: 100%;
    float: right;
    overflow-y: auto;
}

.content{
	top:-75px;
	position: relative;
	height: 100%;
}
.content-wrap{
	width:980px;
	height: 100%;
	margin: auto;
	border-left: 1px solid; 
	border-right: 1px solid; 
	background-color: white;
	border-color: #d3d3d3;;
}
.content-left{
	width:240px;
	height: 100%;
	float:left;
	border-right: 1px solid;
    border-color: #d3d3d3;
	overflow-y: auto;
    overflow-x: hidden;
}
.left-warp{
	padding: 30px 0;
}
.left-warp h2{
	font-size: 14px;
	color: #000;
	padding: 0px 20px;
	padding-bottom: 10px;
	cursor: pointer;
}
.font-list{
	font-size: 14px;
	color: #000;
	font-family: simsun,\5b8b\4f53;
}
.creat{
	float:right;
	width: 52px;
    height: 22px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
}
.create-img{
	background: url(../image/new.png) no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    top: 2px;
}
.creat i{
	color: #515151;
    font-size: 12px;
	font-weight: normal;
    font-style: inherit;
    position: relative;
    top: -2px;
}
.created-list{
	width: 140px;
    display: inline;
}
.left-warp img{
	width: 16px;
	height: 16px;
	position: relative;
    top: 2px;
}
.left-warp ul{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 13px;
	width: 100%;
}
.selected{
	background: #e6e6e6;
}
.no-selected{
	background: white;
}
.left-warp li{
	height: 54px;
	padding: 6px 0 6px 20px;
	cursor: pointer;
	box-sizing: border-box;
    width: 100%;
}
.left-item{
	height: 100%;

}
.left-item img {
	width: 40px;
	height: 40px;
}
.left-item p{

}
.left-item-image{
	float:left;
	width: 40px;
	height: 40px;
}
.left-item-text{
	float:left;
	width: 150px;
	height: 100%;
	margin-left: 10px;
}
.desc-item{
	height:20px;
	font-size: 12px;
	color: #000;
	line-height: 20px;
}
.num-item{
	font-size: 12px;
	color: #999;
	padding-top: 5px;
	height: 15px;
    line-height: 15px;
}
.content-right{
	width:737px;
	height: 100%;
	float:right;
/*
	border-left: 1px solid;
	border-color:  #d3d3d3;
*/
	overflow-y: auto;
}
.content-right-top{
	height: 300px;
}
.t-warp{
	padding: 40px;
	height: 200px;
}
.t-warp-img{
	border: 1px solid #d3d3d3;
	width:200px;
	height: 200px;
	float:left;
}
.t-warp-img img{
	width:200px;
	height: 200px;
}
.t-warp-content{
	float: right;
	width: 415px;
	padding-left: 20px;
}
.t_name{
	height: 30px;
	padding-bottom: 10px;
}
.t_name img{
	width: 54px;
	height: 24px;
	vertical-align: middle;
}
.t_name h2{
	line-height: 30px;
	font-size: 20px;
	font-weight: normal;
	display: inline;
	vertical-align: middle;
}
.t_user img{
	width: 35px;
	height: 35px;
	vertical-align: middle;
}
.font{
	color: #999;
	font-size: 12px;
	line-height: 35px;
	vertical-align: middle;
}
.t_user{
	height: 35px;
	padding-bottom: 20px;
}
.t_operator{
	height: 31px;
}
.content-right-bottom{
	padding-bottom: 50px;
}
.b_name{
	padding:0 32px;
	height: 32px;
}
.b_name_font{
	font-size: 20px;
	line-height: 32px;
	color:#000;
}
.font-num{
	color: #999;
	font-size: 12px;
	line-height: 32px;
	padding-left: 15px;
}
.b_line{
	background-color: #C20C0C;
	height: 1px;
	margin: 0px;
}
.m-table{
	width: 100%;
	border: 1px solid #d9d9d9;
}
thead{
	height:40px;
}

.m-table th{
	height: 34px;
	font-weight: normal;
	font-size: 12px;
	color: #666;
	background-color: #f7f7f7;
}
.m-table td{
	height: 30px;
	font-size: 12px;
	text-align: center;
	color: #333;
}
.m-table .w1{
	width: 30px;
}
.m-table .w2{
	width: 34px;
	cursor: pointer;
}
.m-table .w2 img{
	width: 17px;
	width: 17px;
}
.m-table .w3{
	cursor: pointer;
}
.m-table .w4{
	width: 111px;
}
.m-table .w5{
	width: 14%;
}
.m-table .w6{
	width: 20%;
}
.m-table .tbg{
	background-color: #f7f7f7;
}

/*
::-webkit-scrollbar {
	width:5px;
}*/


/* 提示 */
.n-nmusic{
	padding: 105px 0 105px 0;
  		text-align: center;
}
.nonm-top{
	padding-bottom: 38px;
  		font-size: 18px;
}
.nonm-bottom{
	color: #999;
	font-size: 12px;
}
.icon-listen{
	background: url(../image/icon.png) no-repeat 0 -347px;
	display: inline-block;
	width: 64px;
	height: 50px;
	margin-right: 17px;;
}
.non-listen-font{
	display: inline-block;
	position: relative;
	bottom: 18px;
	color: #000;
}
.nonm-bottom .icon-save{
	background: url(../image/icon.png) no-repeat 0 -400px;
	width: 16px;
  		height: 14px;
	margin: 0 9px 0 7px;
	display: inline-block;
}
.link-font{
	color: #0c73c2;
}

.list-play-non{
	color: #bebebe;
}
.list-play-non i{
	background: url(../image/button2.png) no-repeat 0 -891px;
    width: 75px;
    height: 31px;
    border: 0px;
    border-radius: 5px;
    display: inline-block;
}

.list-play-bg{
	background: url(../image/button2.png) no-repeat 0 -387px;
	color: white;
	width: 75px;
	height: 30px;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
}

.list-play-icon{
	background: url(../image/button2.png) no-repeat 0 -1622px;
	float: left;
    width: 20px;
    height: 18px;
    margin: 6px 2px 2px 6px;
}
.icon-font{
	display: inline-block;
    padding-top: 5px;
    padding-left: 3px;
}

button{
	background-color: #3CA0ED;
	color: white;
	width: 75px;
	height: 30px;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
}
.non-play-font{
	position: relative;
    left: 35px;
    top: 5px;
}

.mlist-opr{
	float:right;
}
.mlist-icon{
	width: 13px;
    height: 13px;
	cursor: pointer;
	display: inline-block;
	padding-right: 5px;
}
.mlist-modify{
	background: url("../image/icon.png") no-repeat 0 -270px;
}
.mlist-del{
	background: url("../image/icon.png") no-repeat 0 -284px;
}