@charset "utf-8";
/* CSS Document */

/* 去除默认样式 */
input,button{
	outline:none;
}


.pop{
	height: 249px;
	width:480px;
/*	margin: 0 auto;*/
/*	position: relative;*/
/*
	top: 50%;
    transform: translateY(-50%);
*/
	z-index: 100;
	box-shadow: 0 5px 16px rgba(0,0,0,0.8);
	

    /* top: -85%; */
    /* transform: translateY(-50%); */
    position: absolute;
	top: 220px;
    left: 479px;
	border-radius: 4px;
	border:0;
}
.pop-head{
	height: 38px;
	background: #2d2d2d;
	border-radius: 3px 3px 0 0;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	padding-left: 18px;
}
.pop-head span{
	line-height: 38px;
	float: left;
}
.pop-head img{
	float: right;
	cursor: pointer;
}
.pop-content{
	background: #fff;
	font-size: 12px;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	height: 211px;
}
.pop-content-wrap{
	margin-left: 30px;
	padding: 40px 0px;
}
.error{
	color:#e33232;
	font-size: 12px;
	height: 17px;
	width: 70%;
	padding-left: 48px;
	padding-top: 5px;
}
.error img{
	height: 14px;
	width: 14px;
	position: relative;
	top: 2px;
}
.error span{
	ine-height: 17px;
}
.music-list-name{
	height: 32px;
}

.ml-tips{
	height: 16px;
	margin-top: 8px;
	margin-bottom: 20px;
	margin-left: 48px;
}
.button-wrap{
	height: 31px;
	margin-left: 48px;
}
.button-wrap button{
	height: 31px;
	width: 75px;
/*	background-color: #3CA0ED;*/
	border: 0px;
	border-radius: 4px;
/*	color: white;*/
	cursor: pointer;
	margin-right: 20px;
	border: 1px solid #e2e2e2;
}
#listname{
	width: 344px;
	height: 19px;
	padding: 6px;
	border: 1px solid #cdcdcd;
	border-radius: 2px;
	outline: none;
}

.pop-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	opacity:.8;   /* 不透明度 */
}

.ml-tips{
	color: #999;
}
.cancel{
	color: #333;
    background: #e2e2e2;
}


/* 确认删除弹窗*/
.but-1{
	display: inline-block;
    float: left;
    padding-right: 20px;
    text-align: center;
}
.but-icon1{
	background: url(../image/button2.png) no-repeat 0 -387px;
    color: white;
    width: 75px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    /* text-align: center; */
    font-style: normal;
}
.but-2{
    display: inline-block;
    float: left;
    font-size: 12px;
    color: #333;
    height: 30px;
    width: 75px;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #e2e2e2;
    background: #e2e2e2;
}


/* 删除 */
.p-del{
	height: 201px;
}
.pc-del{
	height: 163px;
}
.ptw-del{
	text-align: center;
    margin-right: 30px;
}
.del-tips{
	text-align: center;
    font-size: 14px;
}
.bw-del{
	text-align: center;
    width: 190px;
    margin: auto;
    padding-top: 20px;
}


/* 登录 */
.ptw-login{
	padding:20px;
}
.l-form{
	width:320px;
	height:140px;
}
.l-item{
	height:38px;
	width:100%;
	margin-bottom: 1rem!important;
    border: 1px solid #ccc;
    border-radius: .25rem;
}
.l-contl{
	border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    height: 24px;
    padding: .375rem .75rem;
    width: 255px;
}
.l-btn{
	height: 31px;
    background: url(../image/button2.png) no-repeat;
    background-position: right -387px;
    width: 215px;
    border-radius: .25rem;
    text-align: center;
    line-height: 31px;
}
.l-btn i{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* 收藏 */
*{
	margin: 0;
	padding: 0;
}
.p-save{
	height: 414px;
}
.pc-save{
	height: 374px;
/*    padding: 1px;*/
	overflow-y: auto;
}
.new-list{
	padding: 10px 0px 10px 35px;
    background: rgb(230, 230, 230);
    cursor: pointer;
	height: 36px;
	line-height: 36px;
}
.new-limg{
	background: url("../image/icon.png") no-repeat;
	width: 35px;
    height: 36px;
    background-position: 0px -495px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}
.xtag{
	padding: 6px 0 6px 35px;
    border-top: 1px solid #e0e0e0;
	height: 42px;
	list-style: none;
	cursor: pointer;
}
.s-left{
	float: left;
	padding-top: 1px;
	margin-right: 10px;
}
.s-left,.s-left img{
	width: 40px;
    height: 40px;
}
.s-right{
	float:left;
	padding-top: 1px;
	height: 40px;
	font-size: 12px;
}
.sr-p1{
	margin-bottom: 8px;
	font-size: 12px;
}
.sr-p2{
	color: #666;
	font-size: 12px;
}


/* 表单提交后的提示信息 */
.tips{
	z-index: 9999;
    position: fixed;
    top: 50%;
    left: 45%;
    text-align: center;
    border-radius: 5px;
    background: white;
    height: 40px;
    width: 200px;
    box-shadow: 0 8px 24px 0 rgba(0,0,0,0.50);
}
.tip-icon-success{
	background: url(../image/icon.png);
    background-position: -21px -426px;
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    top: 7px;
}
.tip-icon-error{
	background: url(../image/icon.png);
    background-position: -21px -402px;
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    top: 7px;
}
.tip-info{
	line-height: 40px;
	font-size: 12px;
	
}